body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #19005c, #13005e, rgb(67, 1, 134));
    background-size: 200% auto;
    animation: gradient 30s ease infinite;
  }

  .navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border-right:5px solid gray;
    width: 80px;
    height: 100vh;
    position: absolute;
  }

  .navbar a {
    list-style-type: none;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
    border: none;
    width: 80px;
  }

  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    transition: 0.2s ease-in-out;
    scale: 1.1;
  }

  .navbar a.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
  }

  .image-cercle {
    width: 100px; /* ajuster la taille du logo selon vos besoins */
    height: 100px; /* ajuster la taille du logo selon vos besoins */
    border-radius: 50%; /* pour faire un cercle */
    background-color: rgb(0, 0, 0); /* couleur de fond */
    overflow: hidden;
    border: 5px solid #a3a3a3;
    display: inline;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
    padding: 5px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #525252;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  